body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.logo_promo_bear {
    display: block;
    justify-content: center;
}

.preferences,
.filters {
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 18px;
}

form {
    margin-top: 10px;
}


/* Estilos para los campos de formulario */

label {
    display: block;
    margin-bottom: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.logo_promo_bear .promo {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-left: 20%;
}

.decorative-text {
    margin-top: 20px;
    margin-left: 40%;
}

.decorative-text p {
    margin: 0;
}

.logo_promo_bear .logo {
    text-align: center;
    margin-top: 20px;
}

.logo_promo_bear .logo img {
    width: 400px;
    max-width: 100%;
    height: auto;
    border-radius: 50px;
}


/* Estilos para las tarjetas de propiedades */

.property-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.property-cards img {
    width: 200px;
    height: 100px;
}

.visibility {
    visibility: visible;
}

.card {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img {
    max-width: 100%;
    height: auto;
}